# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/server/compiled

# dependencies
/node_modules

#config values
.env

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
.env
server/compiled/
src/img/uploads/
src/assets/uploads

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
documentation/classes/CartItem.html
documentation/coverage.html
documentation/dependencies.html
documentation/index.html
documentation/modules.html
documentation/overview.html
documentation/routes.html
documentation/classes/Customer.html
documentation/classes/DomainProduct.html
documentation/classes/Order.html
documentation/classes/PagerService.html
documentation/classes/Product.html
documentation/classes/ProductsUrl.html
documentation/classes/Promo.html
documentation/classes/Rating.html
documentation/classes/User.html
documentation/components/AccountComponent.html
documentation/components/AddEditComponent.html
documentation/components/AddressComponent.html
documentation/components/AppComponent.html
documentation/components/CartComponent.html
documentation/components/CheckoutComponent.html
documentation/components/CompleteComponent.html
documentation/components/ContentComponent.html
documentation/components/FooterComponent-1.html
documentation/components/FooterComponent.html
documentation/components/HeaderComponent.html
documentation/components/HomeComponent.html
documentation/components/MainSliderComponent.html
documentation/components/NavigationMainComponent.html
documentation/components/NavigationOffCanvasComponent.html
documentation/components/OrdersComponent.html
documentation/components/PageNotFoundComponent.html
documentation/components/PageTitleComponent.html
documentation/components/PaymentComponent.html
documentation/components/PriceComponent.html
documentation/components/ProductDetailComponent.html
documentation/components/ProductsListComponent.html
documentation/components/ProductsListItemComponent.html
documentation/components/ProductWidgetComponent.html
documentation/components/ProfileComponent.html
documentation/components/PromoComponent.html
documentation/components/RatingStarsComponent.html
documentation/components/RegisterLoginComponent.html
documentation/components/ReviewComponent.html
documentation/components/SearchComponent.html
documentation/components/ShippingComponent.html
documentation/components/ShopSortingComponent.html
documentation/components/SidebarComponent.html
documentation/components/ToolbarCartComponent.html
documentation/components/TopBarComponent.html
documentation/fonts/ionicons.eot
documentation/fonts/ionicons.svg
documentation/fonts/ionicons.ttf
documentation/fonts/ionicons.woff
documentation/fonts/ionicons.woff2
documentation/fonts/roboto-v15-latin-300.eot
documentation/fonts/roboto-v15-latin-300.svg
documentation/fonts/roboto-v15-latin-300.ttf
documentation/fonts/roboto-v15-latin-300.woff
documentation/fonts/roboto-v15-latin-300.woff2
documentation/fonts/roboto-v15-latin-700.eot
documentation/fonts/roboto-v15-latin-700.svg
documentation/fonts/roboto-v15-latin-700.ttf
documentation/fonts/roboto-v15-latin-700.woff
documentation/fonts/roboto-v15-latin-700.woff2
documentation/fonts/roboto-v15-latin-italic.eot
documentation/fonts/roboto-v15-latin-italic.svg
documentation/fonts/roboto-v15-latin-italic.ttf
documentation/fonts/roboto-v15-latin-italic.woff
documentation/fonts/roboto-v15-latin-italic.woff2
documentation/fonts/roboto-v15-latin-regular.eot
documentation/fonts/roboto-v15-latin-regular.svg
documentation/fonts/roboto-v15-latin-regular.ttf
documentation/fonts/roboto-v15-latin-regular.woff
documentation/fonts/roboto-v15-latin-regular.woff2
documentation/graph/dependencies.svg
documentation/guards/AdminGuard.html
documentation/guards/UserGuard.html
documentation/images/compodoc-vectorise-inverted.png
documentation/images/compodoc-vectorise-inverted.svg
documentation/images/compodoc-vectorise.png
documentation/images/compodoc-vectorise.svg
documentation/images/coverage-badge-documentation.svg
documentation/images/favicon.ico
documentation/injectables/AuthService.html
documentation/injectables/CartService.html
documentation/injectables/CheckoutService.html
documentation/injectables/FileUploadService.html
documentation/injectables/MessageService.html
documentation/injectables/OffcanvasService.html
documentation/injectables/OrderService.html
documentation/injectables/ProductRatingService.html
documentation/injectables/ProductsCacheService.html
documentation/injectables/ProductService.html
documentation/injectables/PromoService.html
documentation/injectables/UiService.html
documentation/interfaces/Roles.html
documentation/js/compodoc.js
documentation/js/lazy-load-graphs.js
documentation/js/menu-wc.js
documentation/js/menu.js
documentation/js/routes.js
documentation/js/sourceCode.js
documentation/js/svg-pan-zoom.controls.js
documentation/js/tabs.js
documentation/js/tree.js
documentation/js/libs/bootstrap-native.js
documentation/js/libs/clipboard.min.js
documentation/js/libs/custom-elements-es5-adapter.js
documentation/js/libs/custom-elements.min.js
documentation/js/libs/d3.v3.min.js
documentation/js/libs/deep-iterator.js
documentation/js/libs/es6-shim.min.js
documentation/js/libs/EventDispatcher.js
documentation/js/libs/htmlparser.js
documentation/js/libs/innersvg.js
documentation/js/libs/lit-html.js
documentation/js/libs/prism.js
documentation/js/libs/promise.min.js
documentation/js/libs/svg-pan-zoom.min.js
documentation/js/libs/tablesort.min.js
documentation/js/libs/tablesort.number.min.js
documentation/js/libs/vis.min.js
documentation/js/libs/zepto.min.js
documentation/js/routes/routes_index.js
documentation/js/search/lunr.min.js
documentation/js/search/search_index.js
documentation/js/search/search-lunr.js
documentation/js/search/search.js
documentation/miscellaneous/functions.html
documentation/miscellaneous/variables.html
documentation/modules/AccountModule.html
documentation/modules/AdminModule.html
documentation/modules/AppModule.html
documentation/modules/AppRoutingModule.html
documentation/modules/CheckoutModule.html
documentation/modules/CoreModule.html
documentation/modules/ProductsModule.html
documentation/modules/SharedModule.html
documentation/modules/AccountModule/dependencies.svg
documentation/modules/AdminModule/dependencies.svg
documentation/modules/AppModule/dependencies.svg
documentation/modules/CheckoutModule/dependencies.svg
documentation/modules/CoreModule/dependencies.svg
documentation/modules/ProductsModule/dependencies.svg
documentation/modules/SharedModule/dependencies.svg
documentation/pipes/SortPipe.html
documentation/styles/bootstrap-card.css
documentation/styles/bootstrap.min.css
documentation/styles/compodoc.css
documentation/styles/ionicons.min.css
documentation/styles/laravel.css
documentation/styles/material.css
documentation/styles/original.css
documentation/styles/postmark.css
documentation/styles/prism.css
documentation/styles/readthedocs.css
documentation/styles/reset.css
documentation/styles/stripe.css
documentation/styles/style.css
documentation/styles/tablesort.css
documentation/styles/vagrant.css
